.comments {
  background-color: @white;
  padding: 40px 0;
}

.comments__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.comments__item {
  display: none;
}

.comments__item--active {
  display: block;
}

.comments__title {
  .fonts (18px, 30px, #000000, none, 700);
  text-align: center;
  margin: 0 0 28px;
}

.comments__description {
  display: none;
}

.comments__text,
.comments__description {
  .fonts (14px, 30px, @dark, none, 400);
  text-align: center;
  margin: 0;
}

@media (min-width: 660px) {
  .comments__item--active {
    display: flex;
    flex-direction: column;
  }

  .comments__text {
    font-size: 18px;
    order: -1;
    margin-bottom: 40px;
  }

  .comments__title {
    font-size: 20px;
    margin-bottom: 17px;
  }

  .comments__description {
    display: block;
  }
}

@media (min-width: 960px) {
  .comments {
    padding-top: 70px;
  }

  .comments__inner {
    padding-top: 70px;
    position: relative;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 80px 65px;
  }

  .comments__inner::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 42px;
    top: 140px;
    left: 10px;
    .icon(icon-review-arrow-left, 22px, 42px);
  }

  .comments__inner::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 42px;
    top: 140px;
    right: 10px;
    .icon(icon-review-arrow-right, 22px, 42px);
  }

  .comments__list {
    margin: 0;
    padding: 110px 125px 50px;
  }

  .comments__item {
    padding: 0;
  }

  .comments__title {
    font-size: 24px;
  }

  .comments__description {
    font-size: 18px;
  }

  .comments__control {
    display: none;
  }
}
