.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  .fonts (14px, 18px, @dark, none, normal);
  margin-right: 15px;
}

.copyright__link {
  width: 27px;
  height: 37px;
}

.copyright__link svg {
  fill: @red;

  &:hover {
    fill: @dark;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .copyright__link {
    height: 43px;
    display: flex;
    align-items: flex-end;
  }
}


@media (min-width: @desktop-width) {
  .copyright__text {
    font-size: 18px;
  }
}
