.icon-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 30px 57px;
}

.icon-list__item {
  &--apple {
    .icon(logo-apple);
  }

  &--android {
    .icon(logo-android);
  }

  &--windows {
    .icon(logo-microsoft);
  }
}
