.icon-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0 37px;
}

.icon-list__item a {
  display: block;
  width: 50px;
  height: 60px;
}

.icon-list__item {
  &--apple {
    .icon(logo-apple);
  }

  &--android {
    .icon(logo-android);
  }

  &--windows {
    .icon(logo-microsoft);
  }
}
