.like {
  display: flex;
}

.like__icon {
  margin-right: 18px;
  .icon(icon-heart, 14px, auto);
  border: 0;
  background-color: transparent;
}

.like__number {
  margin-left: 3px;
}

@media (min-width: @tablet-width) {
  .like__icon {
    background-position-y: 5px;
    order: 1;
    margin: 0;
    margin-left: auto;
  }
}
