.load {
  margin-top: 110px;
}

.load::before {
  content: "";
  display: block;
  height: 286px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-size: 258px 286px;
  background-repeat: no-repeat;
}

.load__inner {
  background-color: #1d2631;
  padding: 20px 20px 30px;
}

.load__slogan {
  display: none;
}

.load__button {
  display: block;
  border-radius: 28px;
  border: 3px solid @white;
  margin: 0;
  margin-bottom: 30px;
  padding: 16px 0;
  .fonts (18px, 20px, @white, none, 700);
  text-align: center;
}

.load__list {
  margin-bottom: 25px;
}

.load__description {
  .fonts (14px, 24px, @white, none, 300);
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
}

@media (min-width: 660px) {
  .load {
    margin: 0;
    padding: 105px 0 110px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 470px 544px;
  }

  .load::before {
    display: none;
  }

  .load__inner {
    background-color: transparent;
    width: 48.387%;
    padding: 0;
  }

  .load__slogan {
    display: block;
    margin: 0;
    margin-bottom: 35px;
    text-align: center;
    padding: 0 10%;
    .fonts (40px, 49px, @white, none, 300);
  }

  .load__button {
    margin-bottom: 45px;
  }

  .load__list {
    margin-bottom: 40px;
  }

  .load__description {
    font-size: 18px;
    padding: 0;
  }
}

@media (min-width: 960px) {
  .load {
    padding: 110px 0 125px;
    background-size: auto 645px;
    background-position: 93.75% bottom;
  }

  .load__inner {
    background-color: transparent;
    width: 31.25%;
  }

  .load__slogan {
    padding: 0 8%;
    margin-bottom: 60px;
    font-size: 50px;
    line-height: 60px;
  }

  .load__button {
    font-size: 21px;
    margin-bottom: 45px;
  }

  .load__list {
    margin-bottom: 50px;
  }
}
