.load {
  position: relative;
  background-color: #1d2631;
  margin-top: -66px;
  min-height: 734px;
  z-index: -1;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 100%;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 176px;
    width: 258px;
    height: 286px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-size: 258px 286px;
  }
}

.load .container {
  min-height: 460px;
  padding-top: 490px;
  .container (320px, 20px);
}

.load__slogan {
  display: none;
}

.load__button {
  display: block;
  width: 280px;
  border-radius: 28px;
  border: 3px solid #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #ffffff;
  text-transform: none;
  text-align: center;
}

.load__description {
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  font-weight: lighter;
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 36px;
}

@media (min-width: 660px) {
  .load {
    margin-top: -110px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 190px;
      right: 20px;
      width: 470px;
      height: 544px;
      background-size: 470px 544px;
    }
  }

  .load .container {
    width: 660px;
    padding-top: 180px;
  }

  .load-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .load__slogan {
    display: inline-block;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media (min-width: 1200px) {
  .load::before {
    bottom: 0;
    right: 170px;
    width: 560px;
    height: 645px;
    background-size: 560px 645px;
  }

  .load {
    min-height: 834px;
    background-size: 100% auto;
    background-position-y: -110px;
  }

  .load .container {
    .container (1200px, 120px);
  }
}
