.page-footer--main {
  display: none;
}

.page-footer__logo {
  display: block;
  width: 150px;
  height: 45px;
  .icon(logo-pink-blue-mobile, 150px, 44px);
  margin: 0 auto 40px;
}

@media (min-width: 660px) {
  .page-footer--main {
    display: block;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }
}
