.page-header.page-header--img {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 259px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-size: auto 462px;
  }
}

.page-header {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 320px auto;
  background-position: center 259px;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: auto 462px;
  }
}

.page-header__logo-btn {
  background-color: @dark;
  display: flex;
  justify-content: space-between;
  padding: 20px 18px 25px 20px;
}


.page-header__link svg {
  display: none;

  &:first-of-type {
    display: block;
  }
}

.page-header__logo {
  fill: @white;
}

.page-header__link[href] .page-header__logo {
  &:hover {
    fill: @red;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__link {
  display: block;
  width: 75px;
  height: 24px;
}

.page-header__toggler.page-header__toggler--no-js {
  display: none;
}

.page-header__toggler {
  padding: 0;
  width: 50px;
  height: 25px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: flex-end;
}

.page-header__toggler svg {
  fill: @white;

  &:hover {
    fill: @red;
  }

  &:active {
    opacity: 0.3;
  }

  &:first-of-type {
    display: block;
  }

  &:nth-of-type(2) {
    display: none;
  }
}

.page-header__toggler.page-header__toggler--open svg {
  &:first-of-type {
    display: none;
  }

  &:nth-of-type(2) {
    display: block;
  }
}

.page-header__inner {
  .container (100%, 0);
}

.page-header__inner .container {
  padding: 0;
}

@media (min-width: @tablet-width) {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: auto 729px;
    background-position: center 255px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-header.page-header--img {
    background-size: auto 729px;
    background-position: center 255px;
  }

  .page-header__inner .container {
    padding-left: 3.03%;
    padding-right: 3.03%;
  }

  .page-header__wrapper .container {
    padding: 0;
  }

  .page-header__logo-btn {
    padding: 27px 18px 43px 20px;
  }

  .page-header__toggler {
    align-self: flex-end;
    height: 22px;
  }

  .page-header__link {
    width: 147px;
    height: 40px;
  }

  .page-header__link svg {
    &:nth-of-type(n) {
      display: none;
    }

    &:nth-of-type(2) {
      display: block;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;
    background-position: center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .page-header.page-header--img {
    background-position: center top;
    background-size: auto 855px;
  }

  .page-header__wrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__wrapper .container {
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo-btn {
    padding: 27px 0;
    background-color: transparent;
  }

  .page-header .container {
    width: 960px;
    padding: 0 10px;
  }

  .page-header__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .page-header__logo-btn:hover path {
    fill: @red;
  }

  .page-header__logo-btn:active path {
    fill: @white;
    opacity: 0.3;
  }

  .page-header__link svg {
    &:nth-of-type(n) {
      display: none;
    }

    &:last-of-type {
      display: block;
    }
  }

  .page-header__toggler {
    display: none;
  }
}
