.page-description {
  margin-top: 0;
  padding: 0;
}

.page-description__img {
  .photo-black-white ();
}

.page-description__text {
  margin-top: 0;
  margin-bottom: 54px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 53px;
  .fonts (14px, 30px, #283645, none, normal);
}
