.page-header {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.page-header.page-header--img {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.page-header__logo-btn {
  background-color: @dark;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 26px;
}

.page-header__logo-btn svg {
  display: block;
}

.page-header__link {
  display: block;
  width: 75px;
  height: 24px;
}

.page-header__link svg:nth-of-type(2) {
  display: none;
}

.page-header__toggler {
  padding: 0;
  width: 50px;
  height: 27px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: flex-end;

  & svg:first-of-type {
    display: block;
  }

  & svg:nth-of-type(2) {
    display: none;
  }
}

.page-header__toggler.page-header__toggler--open svg {
  &:first-of-type {
    display: none;
  }

  &:nth-of-type(2) {
    display: block;
  }
}

.page-header__inner {
  .container (100%, 0);
}

.page-header__inner .container {
  padding: 0;
}

@media (min-width: 660px) {
  .page-header__inner .container {
    padding-left: 3.03%;
    padding-right: 3.03%;
  }

  .page-header__logo-btn {
    padding: 27px 20px 40px;
  }

  .page-header__link {
    width: 147px;
    height: 40px;
  }

  .page-header__link svg {
    &:first-of-type {
      display: none;
    }

    &:nth-of-type(2) {
      display: block;
    }
  }
}

@media (min-width: 960px) {
  .page-header {
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100% 110px;
  }

  .page-header__logo-btn {
    padding: 27px 0;
  }

  .page-header .container {
    width: 960px;
    padding: 0 1.06%;
  }

  .page-header__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .page-header__inner .container {
    padding: 0;
  }

  .page-header__logo-btn:hover path {
    fill: @red;
  }

  .page-header__logo-btn:active path {
    fill: @white;
    opacity: 0.3;
  }

  .page-header__toggler {
    display: none;
  }
}
