.page-header {
  position: relative;
  background-color: #283645;
  min-width: 320px;
  z-index: 1;
}

.page-header .container {
  .container (100%, 0);
}

@media (min-width: 1200px) {
  .page-header {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header .container {
    width: 1200px;
  }

  .page-header__inner {
    display: flex;
    justify-content: space-between;
  }
}
