.page-description {
  margin-top: 0;
  padding: 0;
}

.page-description__title {
  .fonts (24px, 27px, #ffffff, none, 300);
}

.page-description__text {
  margin: 0;
  text-align: center;
  padding: 53px 40px 54px;
  background-color: #ffffff;
  .fonts (14px, 30px, #283645, none, normal);
}

@media (min-width: 660px) {
  .page-description {
  }
}

@media (min-width: 960px) {
  .page-description {
  }
}
