.page-footer {
  min-width: 320px;
}

.page-footer__inner {
  position: relative;
  padding-top: 120px;
}

.page-footer__logo {
  position: absolute;
  left: 70px;
  top: 40px;
  .icon(logo-pink-blue-mobile, 150px, 44px);
}

@media (min-width: 660px) {
  .page-footer__inner {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    position: static;
  }
}

@media (min-width: 1200px) {
  .page-footer__inner {
    display: flex;
    justify-content: space-between;
  }
}
