.photo-users {
  background-color: #ffffff;
}

.photo-users__item {
  margin-bottom: 20px;
}

.photo-users__item a {
  min-height: 1px;
}

.photo-users__item--photo-day {
  position: relative;
}

.photo-users__item--photo-day picture {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.photo-users__item--photo-day::before {
  content: "Панорама дня";
  position: absolute;
  width: 140px;
  right: 20px;
  top: 0;
  padding: 5px 0;
  text-align: center;
  background-color: @red;
  .fonts (12px,24px, @white, uppercase, 700);
}

.photo-users__item--photo-day .photo-users__wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.photo-users__item img {
  width: 100%;
}

.photo-users__wrapper {
  padding: 18px 17px 21px;
  background-color: #f2f2f2;
}


.photo-users__title {
  display: flex;
  margin: 0;
  .fonts (14px, 24px, #283645, none, bold);
}

.photo-users__time {
  margin-left: 3px;
  .fonts (12px, 24px, #283645, uppercase, lighter);
}

.photo-users__text {
  margin-top: 0;
  margin-bottom: 9px;
  .fonts (14px, 24px, #283645, none, normal);
}

.photo-users__like {
  .fonts (12px, 24px, @red, uppercase, normal);
}

@media (min-width: @tablet-width) {
  .photo-users .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photo-users__item {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
  }

  .photo-users__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 24px 32px 24px 27px;
    min-height: 155px;
  }

  .photo-users__text {
    margin-bottom: 11px;
  }

  .photo-users__item--photo-day::before {
    top: 58px;
    padding: 5px 0 7px;
  }

  .photo-users__like {
    margin-top: auto;
  }

  .photo-users__item--photo-day {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 50px;
  }

  .photo-users__item--photo-day img {
    width: auto;
    max-width: none;
  }

  .photo-users__item--photo-day .photo-users__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    padding: 24px 29px 14px 27px;
    min-height: 0;
  }

  .photo-users__item--photo-day .photo-users__like {
    margin: 0;
  }

  .photo-users__item--photo-day .photo-users__text {
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .photo-users__item {
    margin-bottom: 53px;
  }

  .photo-users__wrapper {
    min-height: 157px;
  }

  .photo-users__item--photo-day {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }

  .photo-users__item--photo-day .photo-users__wrapper {
    width: 940px;
    margin: 0 auto;
    padding-right: 31px;
  }

  .photo-users__item--photo-day::before {
    top: 54px;
    right: 1%;
  }
}
