.photo-users {
  background-color: #ffffff;
}

.photo-users__img {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.photo-users__wrapper {
  background-color: #f2f2f2;
  margin-top: -4px;
  padding-top: 24px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 26px;
}

.photo-users__title {
  margin-top: 0;
  margin-bottom: 10px;
  .fonts (14px, 24px, #283645, none, bold);
}

.photo-users__time {
  margin-left: 5px;
  .fonts (12px, 24px, #283645, uppercase, lighter);
}

.photo-users__text {
  margin-top: 0;
  margin-bottom: 20px;
  .fonts (14px, 24px, #283645, none, normal);
}

.photo-users__like {
  padding-left: 40px;
  .fonts (14px, 24px, @red, uppercase, normal);
}
