.promo {
  display: flex;
  flex-direction: column;
}

.promo__header {
  position: relative;
  padding-top: 44px;
  margin-bottom: 28px;
  background-color: @white;
}

.promo__inner {
  position: relative;
  padding-top: 38px;
  background-color: #f2f2f2;
}

.promo__advantages {
  padding-bottom: 280px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 108%;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 160px auto;
  }
}

.promo__question {
  .fonts (24px, 27px, #000000, none, lighter);
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
}

.promo__text {
  .fonts (24px, 27px, #000000, none, lighter);
  text-align: center;
  margin-top: 0;
}

.promo__inner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  .icon(bg-triangle-white, 100%, 28px);
  background-size: 100% 100%;
}

.promo__section {
  margin-bottom: 48px;
}

.promo__caption {
  margin: 0 0 18px;
  padding: 0;
  .fonts (18px, 21px, #000000, none, 700);
  text-align: center;
}

.promo__description {
  margin: 0;
  padding: 0;
  .fonts (14px, 24px, #000000, none, 400);
  text-align: center;
}

@media (min-width: @tablet-width) {
  .promo__inner {
    padding-top: 0;
  }

  .promo__advantages {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    z-index: 1;
    position: relative;
    padding-bottom: 0;
    padding-top: 80px;
    background-position: 20px bottom;
    background-size: 265px auto;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 265px auto;
    }
  }

  .promo__inner::before {
    height: 50px;
  }

  .promo__question,
  .promo__text {
    font-size: 40px;
    line-height: 50px;
  }

  .promo__section {
    width: 50%;
    margin-bottom: 40px;
  }

  .promo__caption,
  .promo__description {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .promo__header {
    padding-bottom: 80px;
  }

  .promo__question {
    margin-bottom: 20px;
  }

  .promo__question,
  .promo__text {
    font-size: 50px;
    line-height: 60px;
  }

  .promo__inner::before {
    height: 95px;
  }

  .promo__advantages {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 325px;
    background-image: url("../img/iphone-screen-1-desktop@1x.png"), url("../img/iphone-screen-2-desktop@1x.png"), url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 292px auto;
    background-position: 5% top, 52% top, 98% top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png"), url("../img/iphone-screen-2-desktop@2x.png"), url("../img/iphone-screen-3-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .promo__section {
    width: 33.333%;
    background-color: #f2f2f2;
    padding: 50px 4% 0;
    margin-bottom: 0;
  }

  .promo__caption {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .promo__description {
    font-size: 18px;
  }

  .promo__caption,
  .promo__description {
    text-align: center;
    line-height: 30px;
  }
}
