.researches {
  display: none;
}

@media (min-width: 1200px) {
  .researches {
    display: block;
    background-color: #f2f2f2;
  }

  .researches .container {
    display: flex;
    padding: 0 120px;
  }

  .researches__img {
    background-image: url("../img/iphone-screen-mobile@1x.png");
    width: 300px;
    min-height: 285px;
    background-repeat: no-repeat;
  }

  .researches__inner {
    width: 580px;
    color: #000000;
  }

  .researches__link {
    color: @red;
  }
}
