.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  padding-top: 23px;
  padding-bottom: 20px;
  text-align: center;
}

.site-list__link {
  .fonts (18px, 21px, #ffffff, uppercase, bold);
  color: #ffffff;
}

.site-list__item:first-of-type {
  box-shadow: 0 -1px 0 0 #000000;
}
