.slogan {
  .fonts (14px, 30px, @dark, none, 400);
  text-align: center;
  margin: 0;
  padding: 23px 11px 42px 7px;
}

@media (min-width: @tablet-width) {
  .slogan {
    font-size: 18px;
    padding: 45px 10px 70px;
  }
}

@media (min-width: @desktop-width) {
  .slogan {
    padding: 4px 10px 65px;
  }
}
